/* Variables */
:root {
  font-size: 18px;
  --monospace: "Roboto Mono", monospace;
  --dark: #001c00;
  --bright: white;
  --contrast: #ff3300;
  --border-small: 1px solid var(--bright);
  --border: 2px solid var(--bright);
  --bigger: 24px;
  --standard: 18px;
  --smaller: 14px;
  --radius: 1px;
  --short: all 0.5s;
}
/* Basic styling */
html {
  font-size: var(--standard);
}

body {
  background-color: var(--dark);
  font-family: var(--monospace);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

h1 {
  font-family: var(--monospace);
  font-weight: 400;
  font-size: var(--smaller);
  letter-spacing: 0.05rem;
  background-color: var(--bright);
  border-radius: var(--radius);
  padding: 0.1rem;
  border: var(--border-small);
}
/* Navbar */
#top-bar {
  margin: 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--dark);
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.search-form {
  margin-right: 0;
  text-align: right;
}

.search-input {
  width: 1rem;
  outline: none;
  border: var(--border-small);
  font-family: var(--monospace);
  font-size: var(--smaller);
  background-color: var(--dark);
  color: var(--bright);
  border-radius: var(--radius);
  padding: 0.1rem;
  transition: var(--short);
}

.search-input:focus {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

/*
::-webkit-input-placeholder {
  font-size: 18px;
}
::-moz-placeholder {
  font-size: 18px;
}
:-ms-input-placeholder {
  font-size: 18px;
}
:-moz-placeholder {
  font-size: 28px;
}
*/

.suggestions {
  position: absolute;
  list-style: none;
  font-size: var(--smaller);
  z-index: 2000;
  color: var(--bright);
  padding: 0;
  left: 0;
  text-align: center;
  right: 0;
  background-color: var(--dark);
  transition: var(--short);
}

.suggestion {
  z-index: 1000;
  cursor: pointer;
  padding: 0.1rem;
  transition: var(--short);
}

.highlight {
  background-color: var(--contrast);
  letter-spacing: 0.1rem;
}

.hamburger-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--dark);
  background-color: var(--bright);
  border-radius: var(--radius);
  cursor: pointer;
  font-size: var(--smaller);
  padding: 0.1rem;
  margin-left: 0.5rem;
}

.hamburger-icon {
}

/* Clock stuff */

#wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem;
}

.clock-container {
  padding: 0rem;
  transition: all 2s;
  display: flex;
  flex-direction: column;
}
.info {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0.5rem;
  padding: 0.2rem;
  font-size: var(--smaller);
  color: var(--bright);
  border-bottom: var(--border-small);
}
.clock {
  width: 90vw;
  height: 90vw;
  border: 2px solid var(--bright);
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}

.terminate {
  cursor: pointer;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width: 45%;
  left: 5%;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  border-radius: 5px;
}

.hour-hand {
  height: 4px;
  width: 35%;
  left: 15%;
  z-index: 900;
  background: var(--contrast);
}

.min-hand {
  height: 4px;
  background: var(--bright);
  z-index: 800;
}

.second-hand {
  height: 2px;
  background: var(--bright);
}

.transition {
  transition: all 0.1s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.timezoneoffset {
  font-size: var(--bigger);
}

.fade-out {
  opacity: 0;
  transition: all 1s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

/* media queries */
@media only screen and (min-width: 576px) {
  /* CSS rules here */
}
