/* Variables */
:root {
  --containerBackground: hsl(100, 100%, 100%);
  --monospace: "Roboto Mono", monospace;
  --dark: #001c00;
  --bright: white;
  --contrast: #ff3300;
  --borderstyle: 2px solid var(--bright);
  --bigger: 24px;
  --standard: 18px;
  --smaller: 14px;
  --radius: 1px;
}
/* Basic styling */
html {
  font-size: var(--standard);
}

body {
  background-color: var(--dark);
  font-family: var(--monospace);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

h1 {
  font-family: var(--monospace);
  font-weight: 400;
  font-size: var(--bigger);
  letter-spacing: 0.1em;
  padding: 7px;
  background-color: var(--bright);
  border-radius: var(--radius);
}
/* Navbar */
#top-bar {
  margin: 0px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--dark);
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.search-form {
  margin-right: 30px;
}

.search-input {
  outline: none;
  border: var(--borderstyle);
  font-family: var(--monospace);
  font-size: var(--standard);
  background-color: var(--dark);
  color: var(--bright);
  border-radius: var(--radius);

  padding: 7px;
  height: 28px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 18px;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 18px;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 18px;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-size: 28px;
}
.suggestions {
  position: absolute;
  list-style: none;
  font-size: var(--standard);

  color: white;
  padding: 0;

  transition: all 0.5s;
}

.suggestion {
  cursor: pointer;
}
.highlight {
  background-color: var(--bright);
  color: var(--dark);
  transition: all 0.5;
}

.hamburger-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--dark);
  background-color: var(--bright);
  border-radius: var(--radius);

  height: 46px;
  width: 46px;
  cursor: pointer;
}

.hamburger-icon {
  font-size: 40px;
  padding-bottom: 6px;
}

/* Clock stuff */

#wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 30px;
}

.clock-container {
  width: 22%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.clock {
  display: flex;
  width: 10rem;
  height: 10rem;
  border: 4px solid var(--bright);
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  padding: 2rem;
  /*box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #ffffff,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
*/
}

.info {
  display: flex;
  justify-content: space-between;
  width: auto;
  margin-bottom: 50px;
  padding: 5px;
  font-size: var(--smaller);
  color: var(--bright);
  border-bottom: var(--borderstyle);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  border-radius: 5px;
}

.hour-hand {
  height: 4px;
  background: var(--contrast);
}

.min-hand {
  height: 4px;
  background: var(--bright);
}

.second-hand {
  height: 2px;
  background: var(--bright);
}

.transition {
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.timezoneoffset {
}
