$font-size-standard: 20px;
$font-size-smaller: 16px;
$font-size-bigger: 24px;
$font-family: "Roboto Mono", monospace;
$color-dark: #001c00;
$color-bright: #f8f8f8;
$color-highlight: #ff3300;
$border-small: 1px solid $color-bright;
$border-standard: 2px solid $color-bright;
$border-radius: 1px;
$transition-short: all 0.5s;
$transition-long: all 1s;
$rem-small: 0.05rem;
$rem-medium: 0.5rem;
$rem-standard: 1rem;
$rem-big: 2rem;
$grid-column-count: 1;
$viewport-5: 576px;
$viewport-7: 768px;
$viewport-9: 992px;
$viewport-12: 1200px;

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin sm {
  @media (min-width: #{$viewport-5}) {
    @content;
  }
}
@mixin md {
  @media (min-width: #{$viewport-7}) {
    @content;
  }
}
@mixin lg {
  @media (min-width: #{$viewport-9}) {
    @content;
  }
}
@mixin xl {
  @media (min-width: #{$viewport-12}) {
    @content;
  }
}

:root {
  font-size: $font-size-standard;
}

body {
  @include flex-column;
  background-color: $color-dark;
  font-family: $font-family;
  margin: 0;
}

/* NAVBAR */

#top-bar {
  @include flex-row;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0.6rem;

  .title {
    border-radius: $border-radius;
    padding: 0 0.3rem;
    background-color: $color-bright;
    h1 {
      line-height: 0;
      font-family: $font-family;
      font-size: $font-size-standard;
      font-weight: 400;
      letter-spacing: 0.05rem;
    }
  }

  .search-bar {
    @include flex-row;
    justify-content: space-between;
    align-items: center;

    .fa {
      color: $color-bright;
      transition: $transition-short;
    }
    .search-form {
      margin-right: 0;
      text-align: right;
      .search-input {
        width: 20vw;
        font-family: $font-family;
        font-size: $font-size-standard;
        background-color: $color-dark;
        color: $color-bright;
        border-radius: $border-radius;
        transition: $transition-short;
        border: 0;
        border-bottom: $border-small;
        margin: 0 0.6rem;
        &:focus {
          position: relative;
          outline: 0;
        }
      }
      .suggestions {
        z-index: 1000;
        position: absolute;
        text-align: center;
        list-style: none;
        font-size: $font-size-smaller;
        color: $color-bright;
        background-color: $color-dark;
        padding: 0;
        left: 0;
        right: 0;
        transition: $transition-short;
        .suggestion {
          cursor: pointer;
          padding: 0.5rem;
          transition: $transition-short;
        }
        .highlight {
          background-color: $color-highlight;
          letter-spacing: 0.1rem;
        }
      }
    }
    .hamburger-menu {
      @include flex-row;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      padding: 0.1rem;
    }
  }
}

/* CLOCK STUFF */

#wrapper {
  display: grid;
  grid-template-columns: repeat($grid-column-count, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem;
  height: 100%;

  @include sm {
    $grid-column-count: 2;
    grid-template-columns: repeat($grid-column-count, 1fr);
  }
}

.clock-container {
  @include flex-column;
  transition: $transition-long;
  padding: 0;

  @include sm {
    padding: 0rem;
  }
  .info {
    @include flex-row;
    justify-content: space-between;
    margin: 1rem;
    padding: 0.2rem;
    font-size: $font-size-smaller;
    color: $color-bright;
    border-bottom: $border-small;
    .terminate {
      cursor: pointer;
    }
  }
  .clock {
    @include sm {
      width: 40vw;
      height: 40vw;
    }
    width: 80vw;
    height: 80vw;
    border: $border-standard;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    .clock-face {
      position: relative;
      width: 100%;
      height: 100%;
      transform: translateY(-3px);
      .hand {
        width: 45%;
        left: 5%;
        position: absolute;
        top: 50%;
        transform-origin: 100%;
        border-radius: 5px;
      }
      .hour-hand {
        height: 4px;
        width: 35%;
        left: 15%;
        z-index: 900;
        background: $color-highlight;
      }
      .min-hand {
        height: 4px;
        background: $color-bright;
        z-index: 800;
      }
      .second-hand {
        height: 2px;
        background: $color-bright;
      }
      .transition {
        transition: all 0.1s;
        transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
      }
    }
  }
}
.fade-out {
  opacity: 0;
}

/* MEDIA QUERIES */
