@use "../base/variables";
@use "../base/breakpoints";
@use "../base/mixins";

#slideout-menu {
  background-color: variables.$color-bright;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 1200;
  transition: 0.7s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  #description-container {
    @include mixins.flex-column;
    margin: 2rem 0.6rem 1rem;

    #settings {
    }

    #about {
      font-family: variables.$font-sans;
    }
  }
}
.head {
  @include mixins.border-bottom-dark;
  padding: 0.2rem;
}
.hidden {
  top: -100vh;
  visibility: hidden;
}
.active {
  top: 0;
  visibility: visible;
}
