@use "../base/variables";
@use "../base/breakpoints";
@use "../base/mixins";

h1 {
  line-height: 0;
  font-family: variables.$font-mono;
  font-size: variables.$font-size-standard;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

#top-bar {
  @include mixins.flex-row-center-between;
  margin: 0.5rem 0.6rem 1rem;
  .title {
    border-radius: variables.$border-radius;
    padding: 0 0.3rem;
    z-index: 1500;
    transition: variables.$transition-short;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .search-bar {
    @include mixins.flex-row-center-between;

    .fa {
      color: variables.$color-bright;
      transition: variables.$transition-short;
    }
    .search-form {
      margin-right: 0;
      text-align: right;
      .search-input {
        border: 0;
        @include mixins.border-bottom-bright;
        width: 20vw;
        font-family: variables.$font-mono;
        font-size: variables.$font-size-smaller;
        background-color: variables.$color-dark;
        color: variables.$color-bright;
        border-radius: variables.$border-radius;
        transition: variables.$transition-short;

        margin: 0 0.6rem;
        &:focus {
          position: relative;
          outline: 0;
        }
      }
      .suggestions {
        z-index: 1000;
        position: absolute;
        text-align: center;
        list-style: none;
        font-size: variables.$font-size-smaller;
        color: variables.$color-bright;
        background-color: variables.$color-dark;
        padding: 0;
        left: 0;
        right: 0;
        transition: variables.$transition-short;
        .suggestion {
          cursor: pointer;
          padding: 0.3rem;
          transition: variables.$transition-short;
        }
        .highlight {
          background-color: variables.$color-highlight;
          letter-spacing: 0.1rem;
        }
      }
    }
    .dots {
      @include mixins.flex-row;
      @include mixins.flex-center;
      cursor: pointer;
      z-index: 5000;

      padding: 0.1rem;
      transition: variables.$transition-short;
      transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.color-dark {
  color: variables.$color-dark !important;
}
.color-bright {
  color: variables.$color-bright;
}
.background-dark {
  background-color: variables.$color-dark;
}
.background-bright {
  background-color: variables.$color-bright;
}
