@use "variables";

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-row-center-between {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

@mixin flex-center {
  justify-content: center;
  align-items: center;
}

@mixin border-bottom-bright {
  border-bottom: variables.$border-width-small solid variables.$color-bright;
}

@mixin border-bottom-dark {
  border-bottom: variables.$border-width-small solid variables.$color-dark;
}

@mixin box-style {
  transition: variables.$transition-short;
  height: 1rem;
  width: 1rem;
  margin-right: 0.6rem;
  border: 2px solid variables.$color-dark;
}
